<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiId" value="65386"/>
    <add key="ApiHash" value="bd557adc23ae98b04cfc37b08f471149"/>
    <add key="NumberToAuthenticate" value="380999608954"/>
    <add key="NotRegisteredNumberToSignUp" value=""/>
    <add key="NumberToSendMessage" value="380667352918"/>
    <add key="UserNameToSendMessage" value="alphary_test"/>
    <add key="NumberToGetUserFull" value="380999608954"/>
    <add key="NumberToAddToChat" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
