<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberToAuthenticate" value="380999608954" />
    <add key="NotRegisteredNumberToSignUp" value=""/>
    <add key="NumberToSendMessage" value="380667352918"/>
    <add key="UserNameToSendMessage" value="alphary_test"/>
    <add key="NumberToGetUserFull" value="380999608954"/>
    <add key="NumberToAddToChat" value=""/>
  </appSettings>
</configuration>
